@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');
:root {

--sky-blue: #8ecae6ff;
--blue-green: #219ebcff;
--prussian-blue: #023047ff;
--selective-yellow: #ffb703ff;
--ut-orange: #fb8500ff;
--texto: "Montserrat", sans-serif;
--titulo: "Titan One", sans-serif;
}

body{

background-color: var(--sky-blue);
font-family: var(--titulo);
}