@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');
:root {

--sky-blue: #8ecae6ff;
--blue-green: #219ebcff;
--prussian-blue: #023047ff;
--selective-yellow: #ffb703ff;
--ut-orange: #fb8500ff;
--texto: "Montserrat", sans-serif;
--titulo: "Titan One", sans-serif;
}

body{

background-color: var(--sky-blue);
font-family: var(--titulo);
margin: 0;
}

header{
background-color: #219ebcff;
display: flex;
justify-content: space-around;
padding: 5px;
}

.img-logo{
    width: 30%;
}

.menu{
display: flex;
list-style: none;
gap: 30px;
font-size: 20px;
font-family: var(--titulo);
text-transform: uppercase;

}

.menu a{

text-decoration: none;
color:rgb(255, 242, 209);
}

.menu a:hover{
color:var(--ut-orange)

}

.apresentacao{
    font-family: var(--blue-green);
    text-align: center;
    margin: 30px 0;
}

.apresentacao h2{
    color: black;
    font-size: 50px;
}

.apresentacao p{
    color: black;
    font-size: 25px;
    font-family: var(--texto);
}