@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');
:root {

--sky-blue: #8ecae6ff;
--blue-green: #219ebcff;
--prussian-blue: #023047ff;
--selective-yellow: #ffb703ff;
--ut-orange: #fb8500ff;
--texto: "Montserrat", sans-serif;
--titulo: "Titan One", sans-serif;
}

body{

background-color: var(--sky-blue);
font-family: var(--titulo);
margin: 0;
}

header{
background-color: #219ebcff;
display: flex;
justify-content: space-around;
padding: 5px;
}

.img-logo{
    width: 30%;
}

.menu{
display: flex;
list-style: none;
gap: 30px;
font-size: 20px;
font-family: var(--titulo);
text-transform: uppercase;

}

.menu a{

text-decoration: none;
color:rgb(255, 242, 209);
}

.menu a:hover{
color:var(--ut-orange)

}

.apresentacao{
    font-family: var(--titulo);
    text-align: center;
    margin: 30px 0;
}

.apresentacao h2{
    color: black;
    font-size: 50px;
}

.apresentacao p{
    color: black;
    font-size: 25px;
    font-family: var(--texto);
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    gap: 5px;
}

.sobre div{
    width: 40%;
    text-align: center;
}

.sobre-img img{
    width: 50%;
    border-radius: 0 20px 0;
    box-shadow: 3px 3px 10px #000;

}
 .sobre h2{
    font-family: var(--titulo);
    font-size: 40px;
    color: var(--blue-green);
    margin-bottom: 15px;
 }

 .sobre p{
    font-size: 24px;
    color: var(--prussian-blue);
 }

 footer{
    background-color:var(--blue-green);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 18px;
 }

 /* produto */
.produto{
padding: 40px 0;
text-align: center;
}

.produto h2{
    font-family: var(--titulo);
    font-size: 40px;
    margin: 40px 0;
}

.lista-produto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.produto{
    background-color: rgb(255, 255, 255);
    width: 27%;
    padding: 20px;
    border-radius: 10px;
}

.produto img{
    width: 100%;
    border-radius: 10px;
}

.produto h3{
    font-family: var(--titulo);
    font-size: 24px;
}

.produto p{
    font-family: var(--titulo);
    color: white;
    font-size: 18px;
}

.produto button{
    padding: 10px 24px;
    font-size: 16px;
    font-family: var(--texto);
    border: none;
    border-radius: 12px;
}

    .produto button:hover{
        transition: 0.3s;
        cursor: pointer;
    }